{% extends 'base.html.twig' %}

{% block title %}Netpositive próbafeladat - Petrócki Ádám{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            {% if error %}
            <div class="alert alert-danger">
                <p class="text-center"><b>{{ error }}</b></p>
            </div>
            {% endif %}
            <table class="table">
                <thead>
                    <tr>
                        <th>number</th>
                        <th>source</th>
                        <th>time</th>
                        <th>message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ post.getSource() }}</td>
                            <td>{{ post.getTime('Y-m-d H:i:s') }}</td>
                            <td>{{ post.getMessage() }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>        
        </div>
    </div>
</div>
{% endblock %}
